Django==6.0.5
asgiref==3.11.1
gunicorn==26.0.0
whitenoise==6.12.0
psycopg2-binary==2.9.12
dj-database-url==3.1.2
python-decouple==3.8
python-dotenv==1.2.2
cloudinary==1.44.2
django-cloudinary-storage==0.3.0
django-allauth==65.17.0
django-extensions==4.1
django-multiupload==0.6.1
social-auth-app-django==5.9.0
social-auth-core==4.9.1
requests==2.34.2
requests-oauthlib==2.0.0
pillow==12.2.0
boto3==1.42.82
twilio==9.10.9
sqlparse==0.5.5
certifi==2026.5.20
PyJWT==2.13.0
